@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;

    --background-accent: #ffffff33;

    --foreground: #1a08ec;

    --foreground-secondary: #fff;

    --primary: #1a08ec;

    --secondary: #6052ff;

    --tertiary: #a6c8ff;

    --success: #3aceb5;

    --error: #da1e28;

    --warning: #f1c21b;

    --overlay: #121619;

    --radius: 0.5rem;
  }
  .dark {
    --background: #fff;

    --foreground: #fff;

    --primary: #1a08ec;

    --secondary: #6052ff;

    --tertiary: #a6c8ff;

    --success: #3aceb5;

    --error: #da1e28;

    --warning: #f1c21b;

    --overlay: #121619;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-tertiary;
  }
  body {
    @apply bg-background text-foreground;
  }
}
